* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    width: 95%;
    max-width: 2000px;
}

.main-header {
    display: flex;
    padding: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-nav>li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;
    padding: 5px;
    align-self: center;
}

.banner {
    color: white;
    background-color: #434a52;
    padding: 5% 5%;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: lightpink;
    background-color: lightslategray;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
}

h2 {
    font-size: 2em;
    color: white;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.main-content,
.banner {
    width: 60%;
    margin: auto;
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

.main-footer {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 3px solid black;
}


/* ========== MEDIA QUERIES =========== */

@media (min-width: 769px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

